<!-- <ng-container *ngIf="modal?.tipo === 'resultado' && modal.id != null && sessaoDaPauta">
  <app-modal (close)="fecharModal()" tamanho="xl"> -->
    <!-- <app-modal-visualizar-data
      [id]="modal?.id"
      [sessaoDaPauta]="sessaoDaPauta"
    ></app-modal-visualizar-data> -->
  <!-- </app-modal>
</ng-container> -->
<!--
<ng-container *ngIf="modal?.tipo === 'formulario'">
  <app-modal (close)="fecharModal()" tamanho="md"> -->
    <!-- <app-formulario-pauta
      [id]="modal.id"
      (onSucesso)="onFormularioSucesso()"
    ></app-formulario-pauta> -->
    <!-- <p>
      isso é um exemplo de modal de formulário
    </p>
  </app-modal>
</ng-container> -->

