<div
  class="flex items-center justify-between px-4 py-2 mt-2 rounded-md"
  [ngClass]="{ 'bg-green-50': voto === 'SIM', 'bg-red-50': voto === 'NAO' }"
>
  <div class="flex items-center gap-3">
    <img
      src="assets/avatar.png"
      alt="Avatar"
      class="w-9 h-9 rounded-full object-cover border"
    />
    <div>
      <p class="font-medium text-gray-800">{{ nome }}</p>
    </div>
  </div>

  <span
    class="flex items-center gap-1 px-3 py-1 rounded-full text-white text-xs font-semibold hover:opacity-80 cursor-pointer duration-150"
    [ngClass]="{ 'bg-green-600': voto === 'SIM', 'bg-red-600': voto === 'NAO' }"
  >
    <span
      class="material-symbols-outlined text-sm"
      [ngClass]="{ 'rotate-180': voto === 'SIM' }"
    >
      {{ Icon }}
    </span>
  </span>
</div>
