  <div className="flex flex-col gap-4">
    <button
      className="bg-green-600 text-white font-semibold py-3 rounded hover:bg-green-700 flex items-center justify-center gap-2"
    (click)="votar.emit('SIM')"
    >
      <span class="material-symbols-outlined text-lg"> thumb_up </span>

    SIM
    </button>
    <button
      className="bg-red-600 text-white font-semibold py-3 rounded hover:bg-red-700 flex items-center justify-center gap-2"
    (click)="votar.emit('NAO')"
    >
      <span class="material-symbols-outlined text-lg"> thumb_down </span>
      NÃO
    </button>
  </div>
