<app-modal
  [showModal]="showModalFormulario"
  (close)="abrirFormularioPauta()"
  [isForms]="true"
  (submitForm)="submitPauta($event)"
  [isEdit]="isPautaValid(pauta)"
>
  <ng-container *ngIf="isPautaValid(pauta); else novo">
    <app-pauta-form [pautaId]="pauta"></app-pauta-form>
  </ng-container>
  <ng-template #novo>
    <app-pauta-form></app-pauta-form>
  </ng-template>
</app-modal>

<app-modal
  [showModal]="showModalDados"
  (close)="abrirDadosPauta($event)"
  [tamanho]="'xl'"
  [isForms]="false"
>
  <ng-container *ngIf="sessaoDaPauta; else semSessao">
    <app-visualizar-pauta
      [pauta]="pautaEncontradaPorId"
      [sessaoDaPauta]="sessaoDaPauta"
    ></app-visualizar-pauta>
  </ng-container>
  <ng-template #semSessao>
    <app-visualizar-pauta [pauta]="pautaEncontradaPorId"></app-visualizar-pauta>
  </ng-template>
</app-modal>

<app-pautas
  [isLoading]="isLoading"
  [pautas]="pautas"
  [pagina]="pagina"
  [totalPages]="totalPaginas"
  [totalItens]="totalElementos"
  (deletarPautaFn)="deletarPauta($event)"
  (abrirFormulario)="abrirFormularioPauta($event)"
  (abrirDados)="abrirDadosPauta($event)"
  (mudancaPagina)="onMudancaPagina($event)"
  (navegarParaSessao)="navegarParaSessao($event)"
>
</app-pautas>
